<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <main>
    <script src="/app.js"></script>
    <div class = container1> Best Books !
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/">Home</a>
              <a href="/searches/new">Search the Google Books Api</a>
            </div>
          </div>
    </div>
    <div class = container2>
        Error Message
    </div>
    <div class = container3>
        <p> Error message //  error in getting data from Api server or The Route not found ......</p>
    </div>
    <div class = container4>
      
    </div>
</main>
</body>
</html>